{% load static %}
<header>
  <img src="{% static 'restaurant/img/logo.png' %}" />
</header>
<nav class="stroke">
  <ul>
    <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
    <li><a href="{% url 'menu' %}" class="{% if request.resolver_match.url_name == 'menu' or request.resolver_match.url_name == 'menu_item' %}active{% endif %}">Menu</a></li>
    <li><a href="{% url 'book' %}" class="{% if request.resolver_match.url_name == 'book' %}active{% endif %}">Book</a></li>
  </ul>
</nav>
